p,
label {
    font: 1rem 'sans-serif';
color: darkorchid;
  font-size: large;
}
h3{
    font:'sans-serif';
}
.butao {
    margin: .4rem;
    border-radius: 70%;
}

input{
  margin: .4rem;
  border-color: black;
  border-width: 1px;
}

fieldset{
   border-image: linear-gradient(to right, darkblue, darkorchid) 1;
   background-image: url(images/back.jpg);

}

.container {
   position:fixed;
   top: 19%;
   left: 25%;
   width:30em;
   height:18em;
   margin-top: -9em; /*set to a negative number 1/2 of your height*/
   margin-left: -15em; /*set to a negative number 1/2 of your width*/

}

body{
    background: url(images/prefeitura.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50px 150px;
}

.login{
  font-family: "Times New Roman", Times, serif;
  margin-left: 50%;
  top: 19px;
  width: 16vw;
  height: 65px;
  justify-content: center;
  text-align: center;
  word-wrap: break-word;
  background-image: url(images/back.jpg);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.logout{
  color: red;
}
